/* reset */
header, nav, section, article, footer {
  display: block;
}

/* base */
body {
  background-image: url("/img/mable-black-p.jpg");
  color: #F8F8F8;
  text-shadow: 2px -1px 0 rgba(0, 0, 0, .5);
  -webkit-text-size-adjust: 100%;
}

body, input {
  font: 20px Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'モリサワ新ゴR', 'Droid Sans', メイリオ, 'sans-serif';
}
@media screen and (max-width:561px) {
  body, input {
    font-size: 16px;
  }
}

a {
  color:           #EEE;
  text-decoration: none;
  border-bottom:   2px solid #D8D8D8;
}
a:hover {
  color: #F8F8F8;
  text-shadow: 2px -1px 0 rgba(0, 0, 0, .8);
  background:  rgba(32, 32, 32, .1);
}

#container {
  width:     80%;
  max-width: 960px;
  min-width: 240px;
  margin:    20px auto;
}

footer {
  text-align: center;
}

@media screen and (min-width:560px) {
  .profile > .detail {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width:   100%;
    height:  100%;
  }
}

@media screen and (max-width:559px) {
  #container {
    width: 90%;
  }
}

.profile > .detail > article {
  margin:    10px;
  padding:   20px;
  width:     100%;
  -moz-box-flex:    10;
  -webkit-box-flex: 10;

  background-color: rgba(248, 248, 248, .2);
  border:     1px solid #555;
  box-shadow: rgba(  0,   0,   0, .2) 0    2px 0 inset;
  box-shadow: rgba(255, 255, 255, .2) 0    2px 0;
  box-shadow: rgba(  0,   0,   0, .2) -1px 0   0;
  box-shadow: rgba(255, 255, 255, .2) -1px 0   0 inset;
}
@media screen and (max-width:559px) {
  .profile > .detail > article {
    width:   inherit;
    margin:  10px 0;
    padding: 10px;
  }
}

.detail > article {
  min-width: 100px;
}

.profile > .detail > article > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article.role {
  min-width: 200px;
}

article.spec {
  overflow:  hidden;
  min-width: 260px;
}

.spec > .icon {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  padding: 1px;

  border:     1px solid #555;
  box-shadow: rgba(  0,   0,   0, .1) 0    1px 0 inset;
  box-shadow: rgba(255, 255, 255, .1) 0    1px 0;
  box-shadow: rgba(  0,   0,   0, .1) -1px 0   0;
  box-shadow: rgba(255, 255, 255, .1) -1px 0   0 inset;
}

.spec > dl {
  overflow: hidden;
  padding:  0 5px;
  width:    250px;
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spec > dl > dt {
  clear:  left;
  float:  left;
  width:  5em;
  margin-top: 0.5em;
}
.spec > dl > dt:after {
  content: ":";
}

.spec > dl > dd {
  margin-left:  5em;
  margin-top: 0.5em;
}

.spec > dl > dt,
.spec > dl > dd {
  border-bottom: 1px dashed #EEE;
}

#profile > .detail > .link {
  -moz-box-flex:    2;
  -webkit-box-flex: 2;
  min-width:        280px;
}

.link > ul > li {
  margin: 5px 0;
}

ul.cpan-modules > li .desc,
ul.github-repos > li .desc {
  font-size: 0.8em;
}